<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Expression.Blend.Sdk.WPF" version="1.0.1" targetFramework="net461" />
  <package id="ITCC.ItemsFilter" version="1.0.0" targetFramework="net461" />
  <package id="ITCC.Logging.Core" version="3.0.0" targetFramework="net461" />
  <package id="ITCC.Logging.Windows" version="3.0.1" targetFramework="net461" />
  <package id="ITCC.UI" version="3.0.0" targetFramework="net461" />
  <package id="ITCC.WPF" version="3.1.0" targetFramework="net461" />
  <package id="JetBrains.Annotations" version="11.1.0" targetFramework="net461" />
  <package id="System.Threading.Tasks.Dataflow" version="4.9.0" targetFramework="net461" />
</packages>